<div class="jumbotron">
  <h1>Twitter Public Feed</h1>
  <p class="lead">
    {{title}}
    <p><button class="btn" href="{{link}}">flickr</button></p>
  </p>
</div>
<ul class="feed row marketing">
    <li class="feed-item" ng-repeat="(i, item) in items">
        <img class="thumb" src="{{item.media.m}}"></img>
        <h3><a href="#/detail/{{i}}">{{item.title}}</a></h3>
        <h4>{{item.date_taken}}</h4>
        <!--<p ng-bind-html="item.description"/>-->
        Author: {{item.author}}
        <!--
        <a>author: {{item.author}}</a>
        <a>author_id: {{item.author_id}}</a>
        -->
        <a href="{{item.link}}">View on Flickr</a>
    </li>
</ul>
